.header {
        display: flex;
        justify-content: space-bewteen;
        padding:15px;
        flex-wrap: wrap;
        background-color: rgb(168, 17, 17);
        color: white;
        margin-bottom:15px;
        align-items: center;
}
body {
    color: white;
    background-color: yellow;
    display: flex;
}   
.about {
    max-width: 960px;
}
.content {
    width:200px;
    margin-left: auto;
    margin-right: auto;
  }
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.image {
    margin-right:15px;
    flex:0 1 auto;
}