.header {
        text-align: center;
        padding-bottom: 15px;
        flex-wrap: wrap;
        background-color: dar rgb(168, 17, 17);
        color: white
}
.header h1 {
    left: 100px;
    text-align: center;
}
.header img {
    text-align: center;
    right: 100px
}
a {
    text-align: center;
    position: absolute;
    left: 100px;
}
.about {
    max-width: 960px;
}
.content {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }