.header {
        display: flex;
        justify-content: space-bewteen;
        padding-bottom: 15px;
        flex-wrap: wrap;
        background-color: rgb(168, 17, 17);
        color: white;
}
body {
    color: white;
    background-color: rgb(168, 17, 17);
    display: flex;
}
.about {
    max-width: 960px;
}
.content {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }